h1 {
  color: #fff;
  margin-top: 0.5em;
}

.bg-primary {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.container-fluid {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 2em;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.data {
  color: #fff;
  font-size: 5em;
}
#avatar {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  margin-bottom: 1em;
}
